{% extends 'main/home.html' %}

{% block namepage %} <h2 class="mt-2">Add new camera, and let us work!</h2>{% endblock %}


{% block content %}

     <form method="post">
         <fieldset>
    <legend>Personalia:</legend>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
      <button class="submit"  name="signin" value="Login" onclick="alert('Hello World!')">Sign In</button>

     </form>
{% endblock %}